<ion-view title="Account">
  <ion-content class="padding">
    <div class="col">
		<div class="row">
			<div class="col col-10 border-3side"><br><br>Category<br></div>
			<div class="col col-30 border-3side"><br><br>Description<br></div>
			<div class="col col-60 border-3side right-border">Energy Charges Rs. <br>
				<div class="row bottom-border">
					<div class="col right-border"> Upto 100 Units </div>
					<div class="col right-border"> Upto 200 Units </div>
					<div class="col"> Above 200 Units </div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col col-10 border-3side">Domestic</div>
			<div class="col col-30 border-3side">
				<div class="row"> <div class="col"> First 50 </div> </div>
				<div class="row"> <div class="col"> 51 - 100 </div> </div>
				<div class="row"> <div class="col"> 101 - 150 </div> </div>
				<div class="row"> <div class="col"> 151 - 200 </div> </div>
				<div class="row"> <div class="col"> 201 - 250 </div> </div>
				<div class="row"> <div class="col"> 251 - 300 </div> </div>
				<div class="row"> <div class="col"> 301 - 400 </div> </div>
				<div class="row"> <div class="col"> 401 - 500 </div> </div>
				<div class="row"> <div class="col"> Above 500 </div> </div>
			</div>
			<div class="col col-60 border-3side right-border">
				<div class="row">
					<div class="col right-border"> 1.45 </div>
					<div class="col right-border"> 2.60 </div>
					<div class="col"> 2.60 </div>
				</div>
				<div class="row">
					<div class="col right-border"> 2.60 </div>
					<div class="col right-border"> 2.60 </div>
					<div class="col"> 3.25 </div>
				</div>
				<div class="row">
					<div class="col right-border"></div>
					<div class="col right-border"> 3.60 </div>
					<div class="col"> 4.88 </div>
				</div>
				<div class="row">
					<div class="col right-border"></div>
					<div class="col right-border"> 3.60 </div>
					<div class="col"> 5.63 </div>
				</div>
				<div class="row">
					<div class="col right-border"></div>
					<div class="col right-border"></div>
					<div class="col"> 6.38 </div>
				</div>
				<div class="row">
					<div class="col right-border"></div>
					<div class="col right-border"></div>
					<div class="col"> 6.88 </div>
				</div>
				<div class="row">
					<div class="col right-border"></div>
					<div class="col right-border"></div>
					<div class="col"> 7.38 </div>
				</div>				
				<div class="row">
					<div class="col right-border"></div>
					<div class="col right-border"></div>
					<div class="col"> 7.88 </div>
				</div>				
				<div class="row">
					<div class="col right-border"></div>
					<div class="col right-border"></div>
					<div class="col"> 8.38 </div>
				</div>				
			</div>
		</div>
	</div>
  </ion-content>
</ion-view>
